{% extends 'base.html' %} {% block title %}TfL Status{% endblock %} {% block
content %}
<ul class="line-wrap spread-list">
  <a href="#" class="line headerbutton no-right-marg" style="line-height: 1.3;max-height: 40px;float: left;padding-left: 10px;padding-right: 10px;padding-bottom: 13px;"
    data-original-title="" title="">
    <i class="fas fa-angle-left"></i>
  </a>
  <h3 class="line otherheader status-header" data-original-title="" title=""><span id="datetime"></span> - <span id="time"></span></h3>

  <a href="#" class="line headerbutton no-right-marg" style="line-height: 1.3;max-height: 40px;float: right;padding-left: 10px;padding-right: 10px;padding-bottom: 13px;"
    data-original-title="" title="">
    <i class="fas fa-angle-right"></i>
  </a>
  {% for line, status, addstatus, lineid, icons, addicons, hideadd, nighticon,
  hidenight in zip(lines, status, addstatus, lineid, icons, addicons, hideadd,
  nighticon, hidenight) %}
  <li class="line-container unselectable">
    <div class="spread">
      <div class="row">
        <div class="col-auto no-right-pad">
          <span class="spread">
            <a style="cursor: default" class="line {{ lineid }} no-right-marg" href="/tube/{{ lineid }}">
              {{ line }}</a>
          </span>
        </div>
        <div class="col-auto no-left-pad">
          <span class="spread indent-left float-right unselectable">
            <a tabindex="0" role="button" class="line {{ lineid }} unselectable" style="margin-top: -5px;"
              data-container="body" data-toggle="popover" data-trigger="focus" title="Status" data-content="{{ status }}">
              <i class="{{ icons }}"></i>
            </a>
          </span>
        </div>
        <div class="col-auto no-left-pad night-icon {{ hideadd }}">
          <span class="spread indent-left float-right unselectable">
            <a tabindex="0" role="button" class="line {{ lineid }} unselectable" style="margin-top: -5px;" data-toggle="popover"
              data-trigger="focus" title="Status" data-content="{{ addstatus }}">
              <i class="icons {{ addicons }}"></i>
            </a>
          </span>
        </div>
        <div class="col-auto no-left-pad night-icon {{ hidenight }}">
          <span class="spread indent-left float-right unselectable">
            <span class="line {{ lineid }} unselectable" style="margin-top: -5px;">
              <i class="icons {{ nighticon }}"></i>
            </span>
          </span>
        </div>
        <a class="col-auto ml-auto no-left-pad" href="/tube/{{ lineid }}">
          <span class="line {{ lineid }} no-right-marg" style="padding-left: 10px; padding-right: 10px;">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
  </li>
  <!-- <div class="status-container not-active"></div> -->
  {% endfor %}
</ul>
{% endblock %}