{% extends 'base.html' %} {% block title %}{{ line }} Status{% endblock %} {%
block content %}
<div class="line-wrap col-12">
  <div class="row justify-content-between header" style="padding-bottom: 20px">
    <div class="col-auto">
      <div class="line-container unselectable">
        <a class="line {{ lineid }}" href="/tube"> {{ line }} Line </a>
      </div>
    </div>

    <a class="col-auto ml-auto no-left-pad" href="/tube">
      <span class="line {{ lineid }} no-right-marg" style="cursor: pointer; ">
        <i
          style="padding-left: 2.5px; padding-right: 2.5px;"
          class="fas fa-times"
        ></i>
      </span>
    </a>
  </div>
  <div
    class="row status-body"
    style="overflow-y: scroll; max-height: 78%; padding-top: 15px"
  >
    {{ status }}
  </div>
</div>
<div class="fadeout"></div>
{% endblock %}
